.Home {
    font-family: 'Roboto', sans-serif;
    
    nav {
        background-color: #3F51B5;
        width: 100vw;
        height: 65px;
        display: flex;
        align-items: center;

        p  {
            color: white;
            font-size: 1.2em;
            font-weight: bold;
            margin: 0;
            padding: 0 30px;
        }
    }

    .content {
        display: flex;   
        flex-wrap: wrap;  
        justify-content: center; 
       
        .Card {
            margin: 10px 20px;
            flex: 1 0 21%;
        }
    }
}

@media only screen and (max-width: 1026px) {
    .Home {
        .content {
            
            .Card {
                flex: 1 1 100%;
            }
        }
    }
}