@mixin backgroundImage {
    background-size: contain;
    background-repeat: no-repeat;
    flex: 0.4;
    height: 50%;
}

.Card {
    height: 300px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    
    &.common-fruit {
        background-color: #F2C84C;
    }

    &.common-vegetables {
        background-color: #6AADF8;
    }

    &.herbs {
        background-color: #60CB9D;
    }

    &.potatoes {
        background-color: #C0E45F;
    }

    &.tomatoes {
        background-color: #804E27;
    }

    &.beans {
        background-color: #EA5757;
    }

    &.squash {
        background-color: #EC9941;
    }

    &.chinese-vegetables {
        background-color: lightseagreen;
    }

    .card-image {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        #common-fruit {       
            @include backgroundImage();             
            background-image: url('./../../img/common_fruits.png');
        }

        #common-vegetables {
            @include backgroundImage();
            background-image: url('./../../img/common_vegetables.png');
        }

        #herbs {
            @include backgroundImage();
            background-image: url('./../../img/herbs.png');
        }
        
        #potatoes {
            @include backgroundImage();
            background-image: url('./../../img/potatoes.png');
        }
                
        #tomatoes {
            @include backgroundImage();
            background-image: url('./../../img/tomatoes.png');
        }

        #beans {
            @include backgroundImage();
            background-image: url('./../../img/beans.png');
        }

        #squash {
            @include backgroundImage();
            background-image: url('./../../img/squash.png');
        }

        #chinese-vegetables {
            @include backgroundImage();
            background-image: url('./../../img/Bok_choy.png');
        }
    }

    .card-content {
        background-color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0.5;
        padding: 0 20px;        
    }
}

@media only screen and (max-width: 1026px) {
    .Card {
        height: 80px;
        flex-direction: row;
    
        .card-image {
            flex: 0.5;
        }
    
        .card-content {
            background-color: transparent;
            flex: 1;
        }
    }
}