.Quiz {
    display: flex;
    flex-direction: column;
    align-items: center;

    img.shake {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    nav {
        background-color: #3F51B5;
        width: 100vw;
        height: 65px;
        display: flex;
        align-items: center;

        p  {
            color: white;
            font-size: 1.2em;
            font-weight: bold;
            margin: 0;
            padding: 0 30px;
            cursor: context-menu;
        }

        p:first-child {
            flex: 1;            
        }
    }

    input {
        padding: 5px 10px;
        width: 260px;
        margin: 20px 0;
        font-size: 1.2em;
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.keypad {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 10px 0;

        li {
            color: white;
            font-weight: bold;
            text-align: center;
            background-color: lightseagreen;
            flex: 0.2;
            max-width: 100px;
            min-width: 90px;
            padding: 20px 0;
            margin: 0 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}