@mixin blueNav {
    background-color: #3F51B5;
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;

    p  {
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        margin: 0;
        padding: 0 30px;
    }
}